<div class="btn-toolbar back-color mt-3" role="toolbar" aria-label="Toolbar with button groups">
  <div  class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" (click)="sendColor('#ffdbac')" class="btn rounded-circle m-2 dimen color-1" ></button>
    <button type="button" (click)="sendColor('#deb9a0')" class="btn rounded-circle m-2 dimen color-2"></button>
    <button type="button"  (click)="sendColor('#b36c3d')" class="btn rounded-circle m-2 dimen color-3"></button>
    <button type="button"  (click)="sendColor('#543521')" class="btn rounded-circle m-2 dimen color-4"></button>
  </div>
