.color-1 {
  background-color: #ffdbac;
}
.color-2 {
  background-color: #deb9a0;
}
.color-3 {
  background-color: #b36c3d;
}
.color-4 {
  background-color: #543521;
}
.dimen {
  width: 40px;
}
.back-color {
  background-color: #5e6977;
  height: 45px;
}
