.body {
  background-image: url("https://thumbs.dreamstime.com/z/cartoon-forest-background-vector-illustration-separate-layers-169135842.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;

  width: 100%;
}
html,
body {
  height: 100vh;

  width: 100%;
}
